---
layout: default
title: "C-Town-Gang (since 1994)"
description: "C-Town-Gang (since 1994)"
---
<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:flex lg:items-center lg:justify-between lg:px-8 lg:py-16">
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
      <span class="block">C-Town-Gang</span>
      <span class="block text-indigo-600">since 1994</span>
    </h2>
    <img src="img/ctg-logo.png">
  </div>
</div>
<p class="p-4 text-center">&copy; C-Town-Gang</p>